SECRET_KEY='django-insecure-(vgjx*g@r23t)-3lbr0)x58-2v58b#q%1_y+la!sbruk8m$b7l'
DEBUG=True
ALLOWED_HOSTS=*

# for localhost use
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password

# sending email to SMTP
EMAIL_HOST='mail.domain.com'
EMAIL_HOST_USER='abc@domain.com'
EMAIL_HOST_PASSWORD='abcdef'
DEFAULT_FROM_EMAIL='abc@domain.com'
SERVER_EMAIL='abc@domain.com'
EMAIL_PORT=25
EMAIL_USE_TLS=False

#JWT_EXPIRATION_DELTA=123
