asgiref==3.5.0
backports.zoneinfo==0.2.1
binary==1.0.0
Django==4.0.4
django-cors-headers==3.11.0
django-environ==0.4.5
django-filter==2.4.0
django-sendgrid-v5==1.2.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
Pillow==9.0.1
psycopg==3.0.10
psycopg2-binary==2.9.3
pycodestyle==2.6.0
pycparser==2.20
PyJWT==2.3.0
python-http-client==3.3.7
pytz==2022.1
sendgrid==6.9.7
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
toml==0.10.2
